<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>

<configuration debug="true">
	<property name="LOGS" value="./logs" />
	<timestamp key="bySecond" datePattern="yyyyMMdd'T'HHmmss" />

	<appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
		<withJansi>true</withJansi>
		<encoder>
			<pattern>%d{dd-MM-yyyy HH:mm:ss.SSS} %magenta([%thread]) %highlight(%-5level) %logger{36}.%M - %msg%n</pattern>
		</encoder>
	</appender>

	<appender name="File" class="ch.qos.logback.core.FileAppender">
		<file>${LOGS}/log-${bySecond}.txt</file>
		<encoder>
			<pattern>%d{dd-MM-yyyy HH:mm:ss.SSS} %magenta([%thread]) %highlight(%-5level) %logger{36}.%M - %msg%n</pattern>
		</encoder>
	</appender>

	<appender name="RollingFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${LOGS}/spring-boot-logger.log</file>
		<encoder>
			<Pattern>%d{dd-MM-yyyy HH:mm:ss.SSS} %magenta([%thread]) %highlight(%-5level) %logger{36}.%M - %msg%n</Pattern>
		</encoder>

		<rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<!-- rollover daily and when the file reaches 10 MegaBytes -->
			<fileNamePattern>${LOGS}/archived/spring-boot-logger-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
			<maxFileSize>10MB</maxFileSize>
			<totalSizeCap>20GB</totalSizeCap>
			<maxHistory>60</maxHistory>
		</rollingPolicy>
	</appender>

	<!-- LOG everything at DEBUG level -->
	<root level="debug">
		<appender-ref ref="Console" />
	</root>

	<!-- LOG "com.enigmacamp" at TRACE level -->
	<logger name="com.enigmacamp" level="trace" additivity="false">
		<appender-ref ref="Console" />
		<appender-ref ref="File" />
		<appender-ref ref="RollingFile" />
	</logger>

</configuration>